.filter {
  &__list {
    @extend .products__list;
    background-color: #ffffff;
  }
  &__title {
    @extend .products__link;
    padding: 0;
    position     : relative;
    &:hover {
      background-color: #d6e5eb;
    }
    &__link {
      display        : block;
      text-decoration: none;
      color          : #5b5b5b;
      font-weight    : bold;
      font-size      : 16px;
      line-height    : 18px;
      padding: 16px 30px;
      position: relative;
    }
  }
}

.arrow,
.arrow_down {
  content: '';
  background-image: url("../img/accordeon-arrow.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 11px;
  position: absolute;
  top     : 18px;
  right   : 17px;
  display: block;
  transition: 0.5s;
}

.arrow_up {
  transform: rotate(180deg);
}

.filter__item {
  border: 1px solid $grey;
  &:first-child {
    border: 0;
  }
}
.filter__choice {
  list-style-type: none;
  margin-bottom  : 17px;
}
.filter__choice__lable {
  position: relative;
  display : block;
  cursor: pointer;
}
.filter__choice__item {
  margin-bottom: 18px;
}
.filter__content {
  padding-left : 30px;
  padding-top: 15px;
}
.filter__reset--wrap {
  margin-bottom: 17px;
}
.filter__colors__item {
  list-style-type: none;
}
.filter__choice__text {
  display       : inline-block;
  vertical-align: middle;
  color         : #2f2f2f;
  font-size     : 14px;
  font-weight   : 400;
}
.filter__reset {
  color      : #00b3ff;
  font-size  : 14px;
  line-height: 16px;
}
/* ----------------------- Availablity in store section -----------------------*/
.filter__choice__input-radio {
  position: absolute;
  left    : -9999px;
}
.filter__choice__elem-radio {
  height        : 19px;
  width         : 19px;
  border-radius : 50%;
  border        : 3px solid $grey;
  display       : inline-block;
  vertical-align: middle;
  position      : relative;
  &::after {
    content      : '';
    display      : block;
    position     : absolute;
    top          : 0;
    bottom       : 0;
    left         : 0;
    right        : 0;
    height       : 0;
    width        : 0;
    border-radius: 50%;
    margin       : auto;
  }
}
.filter__choice__input-radio:hover + .filter__choice__elem-radio {
  border: 3px solid $grey;
  &:after {
    height    : 9px;
    width     : 9px;
    background: $orange;
  }
}
.filter__choice__input-radio:checked + .filter__choice__elem-radio {
  border: 3px solid $orange;
  &:after {
    height    : 9px;
    width     : 9px;
    background: $orange;
  }
}
/* ----------------------- Brands & OS sections -----------------------*/
.filter__choice__input-checkbox {
  position: absolute;
  left    : -9999px;
}
.filter__choice__elem-checkbox {
  height        : 19px;
  width         : 19px;
  border-radius : 4px;
  background    : $grey;
  display       : inline-block;
  vertical-align: middle;
  position      : relative;
  &::after {
    display      : block;
    position     : absolute;
    top          : 0;
    bottom       : 0;
    left         : 0;
    right        : 0;
    height       : 0;
    width        : 0;
    margin       : auto;
    border-radius: 4px;
  }
}
.filter__choice__input-checkbox:hover + .filter__choice__elem-checkbox {
  background: $grey;
  &:after {
    content: url("../img/checkbox-hover.png");
    height : 19px;
    width  : 19px;
    top    : -5px;
    left   : 3px;
  }
}
.filter__choice__input-checkbox:checked + .filter__choice__elem-checkbox {
  background: $orange;
  &:after {
    content: url("../img/checkbox-checked.png");
    height : 19px;
    width  : 19px;
    top    : -5px;
    left   : 3px;
  }
}
/* ----------------------- Price -----------------------*/
.filter__colors__link {
  border    : 1px solid $grey;
  width     : 37px;
  height    : 37px;
  display   : block;
  box-sizing: border-box;
}
.filter__colors__item {
  vertical-align: top;
  border        : 3px solid transparent;
  display       : inline-block;
  margin-left   : 22px;
  margin-bottom : 22px;
  &:hover {
    border-color: $orange;
  }
}
.filter__colors {
  margin-left: -22px;
}
/* ----------------------- slider -----------------------*/
.filter__slider-inputs {
  margin-bottom: 20px;
  &::after {
    clear  : both;
    content: '';
    display: block;
  }
}
.filter__slider-left {
  float: left;
  width: 50%;
}
.filter__slider-right {
  float: right;
  width: 50%;
}
.filter__slider-input {
  display       : inline-block;
  width         : 80px;
  vertical-align: middle;
  outline       : 0;
  border-radius : 3px;
  border        : 1px solid $grey;
  padding       : 9px 8px;
}
.filter__slider__body {
  width: 90%;
  margin-bottom: 15px;
}

.filter__slider__text {
  display       : inline-block;
  vertical-align: middle;
}
