infoblock {
  clear: both;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.infoblock__text {
  p {
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    margin-bottom: 20px;
  }
}

.infoblock__header {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #2f2f2f;
}

.first {
  float: left !important;
  width: 47% !important;
  text-align: justify;
  padding: 1%;
  padding-left: 0;
}

.last {
  float: right !important;
  width: 47% !important;
  text-align: justify;
  padding: 1%;
  padding-left: 0;
}
