.sidebar {
    float: left;
    width: 30%;
    &__filter__list {
        list-style-type: none;
        text-decoration: none;
        background-color: #fbfbfb;
    }
    &__filter__inner__list {
        list-style-type: none;
        text-decoration: none;
        display: none;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.sidebar__filter__item-trigger {
    height: 45px;
    line-height: 45px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
    text-decoration: none;
    display: block;
    color: #333333;
    border: .5px solid #dee2e5;
    &:hover {
        background-color: #d9e5ea;
    }
}

.cellphone__type {
    &__list {
        list-style-type: none;
        background-color: #fbfbfb;
        font-size: 14px;
        font-weight: 400;
        color: #7f7f7f;
        margin-bottom: 40px;
    }
    &__item {
        border: 1px solid #dee2e5;
        height: 45px;
        padding-left: 30px;
        line-height: 45px;
        &:hover {
            background-color: #d9e5ea;
        }
        &-first {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 0;
        }
        &-last {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top: 0;
        }
        &_active {
          background-color: #d9e5ea;
          font-weight: 600;
        }
    }
}
