$grey: #dee2e5;
$orange: #ff6600;
.sidebar {
  float: left;
  width: 30%;
  margin-bottom: 30px;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.products {
  margin-bottom   : 40px;
  background-color: #fbfbfb;
  &__list {
    border         : 1px solid $grey;
    border-radius  : 5px;
    list-style-type: none;
    overflow       : hidden;
  }
  &__link {
    display        : block;
    width          : 100%;
    box-sizing     : border-box;
    padding        : 16px 30px;
    text-decoration: none;
    color          : #808080;
  }
  &__item {
    &:first-child {
      border-top      : 0;
      background-color: #fbfbfb;
    }
    &.active {
      background-color: #d6e5eb;
      color           : #59656d;
      font-weight     : 400;
    }
  }
}
