.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  height: 14px;
  width: 8px;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.2em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.header {
  background-color: #ffffff;
}

.icons-and-contacts {
  min-height: 77px;
}

.socials:after {
  content: "";
  display: block;
  clear: both;
}
.socials__header {
  margin-top: 25px;
  float: left;
  width: 120px;
}
.socials__item {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 10px;
}
.socials__item:first-child {
  margin-left: 0;
}
.socials__link {
  text-decoration: none;
  display: block;
}
.socials__link-fb {
  background-image: url(../sprites/sprite.png);
  background-position: -96px 0px;
  width: 26px;
  height: 26px;
}
.socials__link-fb:hover {
  background-image: url(../sprites/sprite.png);
  background-position: 0px 0px;
  width: 26px;
  height: 26px;
}
.socials__link-vk {
  background-image: url(../sprites/sprite.png);
  background-position: -481px 0px;
  width: 27px;
  height: 26px;
}
.socials__link-vk:hover {
  background-image: url(../sprites/sprite.png);
  background-position: -384px 0px;
  width: 27px;
  height: 26px;
}
.socials__link-tw {
  background-image: url(../sprites/sprite.png);
  background-position: -288px 0px;
  width: 26px;
  height: 26px;
}
.socials__link-tw:hover {
  background-image: url(../sprites/sprite.png);
  background-position: -192px 0px;
  width: 26px;
  height: 26px;
}

.contacts {
  float: right;
  width: 438px;
  margin-top: 25px;
}
.contacts:after {
  content: "";
  display: block;
  clear: both;
}
.contacts__adress {
  display: inline-block;
  width: 202px;
  position: relative;
  float: left;
}
.contacts__adress:before {
  content: url(../img/map-pin.png);
  position: absolute;
  top: 0;
  left: -18px;
}
.contacts__phone {
  font-weight: 600;
  display: inline-block;
  position: relative;
  float: right;
}
.contacts__phone:before {
  content: url(../img/telephone.png);
  position: absolute;
  top: 0;
  left: -18px;
}

.contacts__phone__number,
.contacts__adress__text {
  text-decoration: none;
  color: #2f2f2f;
}

.logo-and-search {
  min-height: 95px;
  background-color: #f4f4f4;
  border-top: 2px solid #ebeef0;
  clear: both;
}

.logo {
  width: 238px;
}

.logo__header {
  display: inline-block;
  margin-top: 30px;
  margin-right: 57px;
  vertical-align: top;
}

.search_form {
  display: inline-block;
  width: 366px;
  vertical-align: top;
  margin-top: 30px;
  position: relative;
}
.search_form-input {
  width: 287px;
  padding-left: 17px;
  outline: 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 300;
  height: 32px;
  border: 1px solid #dee2e5;
}
.search_form-submit {
  position: absolute;
  height: 36px;
  width: 79px;
  background-color: #ff6e2d;
  font-size: 16px;
  font-weight: 600;
  outline: 0;
  color: #ffffff;
  border: 0;
  border-radius: 0 3px 3px 0;
  right: 0;
}

.menu-header {
  width: 390px;
  float: right;
  margin-top: 38px;
}
.menu_list_item {
  display: inline-block;
  margin-left: 14px;
}
.menu_list_item:first-child {
  margin-left: 0;
}
.menu_list_link {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.menu_list_link:hover {
  color: #ff6600;
}

.nav {
  height: 52px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 0;
}
.nav__list_item {
  display: inline-block;
  list-style-type: none;
  word-spacing: normal;
}
.nav__list_link {
  text-decoration: none;
  display: inline-block;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  padding: 0 15px;
}
.nav__list_link:hover {
  background: #e5e3e3;
}
.nav__list_link-active {
  color: #ffffff;
  background: linear-gradient(34deg, #ff6600 29%, #ff6a18 48%, #ff6e35 70%);
}
.nav__list_link-active:hover {
  background: linear-gradient(34deg, #ff6600 29%, #ff6a18 48%, #ff6e35 70%);
}

.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 21px;
}
.breadcrumbs__item {
  display: inline-block;
  color: #333333;
  margin-right: 15px;
  position: relative;
}
.breadcrumbs__link {
  color: #464646;
}
.breadcrumbs__link_active {
  color: #333333;
  position: relative;
}
.breadcrumbs__link_active:after {
  content: '>';
  position: absolute;
  top: 0;
  left: -12px;
  color: #333333;
}
.breadcrumbs__link:hover {
  color: #ff6600;
}

.page__header {
  margin-bottom: 35px;
}
.page__header_text {
  width: 1130px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.content:after {
  content: '';
  display: block;
  clear: both;
}

.sidebar {
  float: left;
  width: 30%;
  margin-bottom: 30px;
}
.sidebar::after {
  content: '';
  display: block;
  clear: both;
}

.products {
  margin-bottom: 40px;
  background-color: #fbfbfb;
}
.products__list, .filter__list {
  border: 1px solid #dee2e5;
  border-radius: 5px;
  list-style-type: none;
  overflow: hidden;
}
.products__link, .filter__title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 30px;
  text-decoration: none;
  color: #808080;
}
.products__item:first-child {
  border-top: 0;
  background-color: #fbfbfb;
}
.products__item.active {
  background-color: #d6e5eb;
  color: #59656d;
  font-weight: 400;
}

.filter__list {
  background-color: #ffffff;
}
.filter__title {
  padding: 0;
  position: relative;
}
.filter__title:hover {
  background-color: #d6e5eb;
}
.filter__title__link {
  display: block;
  text-decoration: none;
  color: #5b5b5b;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 30px;
  position: relative;
}

.arrow,
.arrow_down {
  content: '';
  background-image: url("../img/accordeon-arrow.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 11px;
  position: absolute;
  top: 18px;
  right: 17px;
  display: block;
  transition: 0.5s;
}

.arrow_up {
  transform: rotate(180deg);
}

.filter__item {
  border: 1px solid #dee2e5;
}
.filter__item:first-child {
  border: 0;
}

.filter__choice {
  list-style-type: none;
  margin-bottom: 17px;
}

.filter__choice__lable {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter__choice__item {
  margin-bottom: 18px;
}

.filter__content {
  padding-left: 30px;
  padding-top: 15px;
}

.filter__reset--wrap {
  margin-bottom: 17px;
}

.filter__colors__item {
  list-style-type: none;
}

.filter__choice__text {
  display: inline-block;
  vertical-align: middle;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
}

.filter__reset {
  color: #00b3ff;
  font-size: 14px;
  line-height: 16px;
}

/* ----------------------- Availablity in store section -----------------------*/
.filter__choice__input-radio {
  position: absolute;
  left: -9999px;
}

.filter__choice__elem-radio {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  border: 3px solid #dee2e5;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.filter__choice__elem-radio::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 0;
  border-radius: 50%;
  margin: auto;
}

.filter__choice__input-radio:hover + .filter__choice__elem-radio {
  border: 3px solid #dee2e5;
}
.filter__choice__input-radio:hover + .filter__choice__elem-radio:after {
  height: 9px;
  width: 9px;
  background: #ff6600;
}

.filter__choice__input-radio:checked + .filter__choice__elem-radio {
  border: 3px solid #ff6600;
}
.filter__choice__input-radio:checked + .filter__choice__elem-radio:after {
  height: 9px;
  width: 9px;
  background: #ff6600;
}

/* ----------------------- Brands & OS sections -----------------------*/
.filter__choice__input-checkbox {
  position: absolute;
  left: -9999px;
}

.filter__choice__elem-checkbox {
  height: 19px;
  width: 19px;
  border-radius: 4px;
  background: #dee2e5;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.filter__choice__elem-checkbox::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 0;
  margin: auto;
  border-radius: 4px;
}

.filter__choice__input-checkbox:hover + .filter__choice__elem-checkbox {
  background: #dee2e5;
}
.filter__choice__input-checkbox:hover + .filter__choice__elem-checkbox:after {
  content: url("../img/checkbox-hover.png");
  height: 19px;
  width: 19px;
  top: -5px;
  left: 3px;
}

.filter__choice__input-checkbox:checked + .filter__choice__elem-checkbox {
  background: #ff6600;
}
.filter__choice__input-checkbox:checked + .filter__choice__elem-checkbox:after {
  content: url("../img/checkbox-checked.png");
  height: 19px;
  width: 19px;
  top: -5px;
  left: 3px;
}

/* ----------------------- Price -----------------------*/
.filter__colors__link {
  border: 1px solid #dee2e5;
  width: 37px;
  height: 37px;
  display: block;
  box-sizing: border-box;
}

.filter__colors__item {
  vertical-align: top;
  border: 3px solid transparent;
  display: inline-block;
  margin-left: 22px;
  margin-bottom: 22px;
}
.filter__colors__item:hover {
  border-color: #ff6600;
}

.filter__colors {
  margin-left: -22px;
}

/* ----------------------- slider -----------------------*/
.filter__slider-inputs {
  margin-bottom: 20px;
}
.filter__slider-inputs::after {
  clear: both;
  content: '';
  display: block;
}

.filter__slider-left {
  float: left;
  width: 50%;
}

.filter__slider-right {
  float: right;
  width: 50%;
}

.filter__slider-input {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
  outline: 0;
  border-radius: 3px;
  border: 1px solid #dee2e5;
  padding: 9px 8px;
}

.filter__slider__body {
  width: 90%;
  margin-bottom: 15px;
}

.filter__slider__text {
  display: inline-block;
  vertical-align: middle;
}

.ui-slider-horizontal {
  height: 3px;
  background: #dee2e5;
  border-radius: 0;
  border: 0 none;
  outline: none;
  margin-bottom: 25px;
}
.ui-slider-horizontal * {
  outline: none;
}
.ui-slider-horizontal .ui-slider-range {
  background: #ff6600;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  background: url(../img/range-pointer.png);
  position: absolute;
  height: 14px;
  width: 8px;
  top: 0;
  border: 0 none;
  margin-left: -.2em;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.catalog {
  float: right;
  width: 67.2727%;
}
.catalog__header {
  height: 51px;
  width: 100%;
  background-color: rgba(217, 229, 234, 0.6);
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #d9e5ea;
  border-radius: 5px;
  margin-bottom: 20px;
}
.catalog__header:after {
  content: '';
  display: block;
  clear: both;
}
.catalog__filter {
  width: 39.3580%;
  float: left;
}
.catalog:after {
  content: '';
  display: block;
  clear: both;
}

.checkbox_test {
  display: none;
}
.checkbox_test_label {
  position: relative;
  cursor: pointer;
}

.select2-selection__rendered {
  display: none;
}

.select-by__list {
  background: url("../img/select_arrow.png") #fff;
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  height: 28px;
  width: 151px;
  outline: 0;
  border-radius: 3px;
  padding-left: 14px;
  border: 1px solid #dddddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.sort-by {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
}
.sort-by__list {
  font-weight: 400;
}

.catalog__view {
  float: right;
  width: 35.9353%;
}
.catalog__view:after {
  content: '';
  display: block;
  clear: both;
}

.catalog__view__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  float: left;
  padding-top: 6%;
}

.catalog__view__icons__list {
  font-size: 0;
  list-style-type: none;
  display: inline-block;
  float: right;
}

.catalog__view__icons__item {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 51px;
  height: 51px;
  border-left: 1px solid #dee1e4;
}

.catalog__view__icons__link-wrapper {
  position: absolute;
  top: 19px;
  left: 16px;
}

.catalog__view__icons__link {
  display: block;
}
.catalog__view__icons__link-grid {
  background-image: url(../sprites/viewOptions.png);
  background-position: -86px 0px;
  width: 16px;
  height: 16px;
}
.catalog__view__icons__link-grid:hover {
  background-image: url(../sprites/viewOptions.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.catalog__view__icons__link-list {
  background-image: url(../sprites/viewOptions.png);
  background-position: -430px 0px;
  width: 16px;
  height: 16px;
}
.catalog__view__icons__link-list:hover {
  background-image: url(../sprites/viewOptions.png);
  background-position: -344px 0px;
  width: 16px;
  height: 16px;
}
.catalog__view__icons__link-list-2 {
  background-image: url(../sprites/viewOptions.png);
  background-position: -258px 0px;
  width: 16px;
  height: 16px;
}
.catalog__view__icons__link-list-2:hover {
  background-image: url(../sprites/viewOptions.png);
  background-position: -172px 0px;
  width: 16px;
  height: 16px;
}

.select2-selection__arrow {
  display: none;
}

.catalog__body {
  clear: both;
  width: 100%;
  border-radius: 7px;
}

.goods__list {
  margin-bottom: 65px;
  overflow: hidden;
  background: #fff;
}

.goods__item {
  border: 1px solid #dee2e5;
}
.goods__item:first-child {
  border-top: 0;
}

.goods__item-inner {
  padding: 13px 20px;
  position: relative;
}
.goods__item-inner::after {
  clear: both;
  display: block;
  content: '';
}

.goods__left {
  float: left;
  width: 20%;
  margin-right: 25px;
}

.goods__slideshow {
  width: 140px;
  margin-bottom: 18px;
}

.goods_slideshow-block {
  margin-bottom: 18px;
}

.goods_slideshow-display, .goods_slideshow__link {
  height: 134px;
  width: 134px;
  border: 1px solid #dee2e5;
  background: #ffffff;
  display: block;
  position: relative;
  border-radius: 3px;
  margin-bottom: 18px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.goods__slideshow-img {
  display: block;
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.goods_slideshow__buttons {
  margin-left: -15px;
  margin-top: 5px;
}
.goods_slideshow__buttons::after {
  clear: both;
  display: block;
  content: '';
}

.goods_slideshow__item {
  margin-left: 15px;
  float: left;
  list-style-type: none;
}

.goods_slideshow__link {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  margin-bottom: 0;
  position: relative;
}
.goods_slideshow__link:hover {
  border-color: #ff6600;
}

.goods_slideshow-buttons-img {
  max-width: 95%;
  max-width: 95%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.goods__articul {
  text-align: center;
}

.goods__articul-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}

.goods__articul-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #303030;
  font-weight: 600;
}

.goods__info {
  float: left;
  width: 380px;
}

.goods__info-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 12px;
  color: #010101;
}

.goods__info-item {
  display: inline-flex;
  font-size: 14px;
  line-height: 16px;
}

.goods__info-value {
  display: inline;
  font-size: 14px;
  line-height: 16px;
}

.goods__info-key {
  display: inline;
  font-size: 14px;
  line-height: 16px;
  margin-right: 2px;
}

.goods__info-options {
  margin-bottom: 18px;
}

.goods__info-item_grey {
  background-color: transparent;
}

.goods_ratio-stars {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.goods__ratio-stars-item {
  display: inline-block;
  background-image: url(../img/white-star.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}

.goods__ratio-stars-item_filled {
  background-image: url(../img/red-star.png);
}

.goods__ratio {
  display: inline-block;
  vertical-align: middle;
}

.goods__ratio-number {
  display: inline-block;
  vertical-align: middle;
  background-color: #b2bfcc;
  color: #fbfbfb;
  font-size: 14px;
  line-height: 16px;
  width: 27px;
  height: 15px;
  text-align: center;
  border-radius: 20px;
}

.goods__right {
  position: absolute;
  top: 23px;
  bottom: 23px;
  right: 23px;
  width: 123px;
  text-align: right;
  border-left: 1px solid #dee2e5;
}

.goods__inform {
  padding-left: 25px;
  height: 100%;
}

.goods_info-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.goods__buy_button {
  background-color: #ff6600;
  color: #fff7f4;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.goods__price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  position: relative;
}
.goods__price::after {
  content: url(../img/rub.png);
  height: 12px;
  width: 14px;
}

.goods__availability {
  font-size: 12px;
  line-height: 20px;
  color: #7f7f7f;
  font-weight: 600;
  position: relative;
}
.goods__availability::before {
  position: absolute;
  content: url(../img/green_point.png);
  height: 12px;
  width: 14px;
  left: 8px;
}

.goods__list_grid {
  overflow: auto;
  border-radius: 0;
  margin-left: -11px;
  background: none;
}
.goods__list_grid .goods__item {
  display: inline-block;
  width: 234px;
  border-top: 0;
  text-align: center;
  border-radius: 5px;
  margin-left: 11px;
  margin-bottom: 11px;
  border: 1px solid #dee2e5;
  background: #fbfbfb;
}
.goods__list_grid .goods__item-inner {
  padding: 13px;
}
.goods__list_grid .goods_slideshow {
  width: auto;
  text-align: center;
  float: none;
}
.goods__list_grid .goods_slideshow-display, .goods__list_grid .goods_slideshow__link {
  display: inline-block;
}
.goods__list_grid .goods_slideshow__item {
  display: inline-block;
  float: none;
}
.goods__list_grid .goods__left {
  float: none;
  margin: auto;
  width: auto;
}
.goods__list_grid .goods__articul {
  display: none;
}
.goods__list_grid .goods__info {
  width: auto;
  float: none;
  margin-left: 0;
  border: 0 none;
  text-align: center;
}
.goods__list_grid .goods__info::after {
  content: '';
  display: block;
  clear: both;
}
.goods__list_grid .goods__right {
  position: static;
  width: auto;
  text-align: center;
  border: 0 none;
}
.goods__list_grid .goods_info-bottom {
  position: static;
  border: 0 none;
}
.goods__list_grid .goods_info-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.goods__list_grid .goods__buy_button {
  margin-bottom: 0;
  float: right;
}
.goods__list_grid .goods__availability {
  float: left;
  margin-left: 22px;
  padding-top: 11px;
}
.goods__list_grid .goods__availability::before {
  left: -16px;
  top: 9px;
}
.goods__list_grid .goods__ratio {
  margin-bottom: 15px;
  clear: both;
}
.goods__list_grid .goods__price {
  text-align: center;
  margin-bottom: 10px;
}
.goods__list_grid .goods__info-title {
  font-size: 13px;
}
.goods__list_grid .goods__info-options::after {
  content: '';
  display: block;
  clear: both;
}
.goods__list_grid .goods__info-item {
  display: block;
}
.goods__list_grid .goods__info-item::after {
  display: block;
  content: '';
  clear: both;
}
.goods__list_grid .goods__info-value {
  font-size: 14px;
  color: #2f2f2f;
  font-size: 14px;
  line-height: 22px;
  display: block;
  float: right;
  width: 47%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}
.goods__list_grid .goods__info-value::after {
  content: '';
  display: block;
  clear: both;
}
.goods__list_grid .goods__info-key {
  font-size: 14px;
  color: #2f2f2f;
  font-size: 14px;
  line-height: 22px;
  display: block;
  float: left;
  width: 52%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.goods__list_grid .goods__info-key::after {
  content: '';
  display: block;
  clear: both;
}
.goods__list_grid .goods__info-item_grey {
  background-color: #dee2e5;
}

.goods__list_list .goods_slideshow-block {
  display: none;
}
.goods__list_list .goods__info-options {
  display: none;
}
.goods__list_list .goods__ratio {
  display: none;
}
.goods__list_list .goods__right {
  width: auto;
  position: static;
  border: 0;
  float: none;
  display: inline-block;
}
.goods__list_list .goods__left {
  float: none;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.goods__list_list .goods__info-title {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 16px;
}
.goods__list_list .goods_info-bottom {
  position: absolute;
  bottom: -5px;
  right: 13px;
  width: 180px;
}
.goods__list_list .goods__info {
  float: none;
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  display: inline-block;
  vertical-align: middle;
}
.goods__list_list .goods__info-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods__list_list .goods__inform {
  padding: 0;
}
.goods__list_list .goods__availability {
  float: left;
  margin-top: 11px;
}
.goods__list_list .goods__availability::before {
  left: -18px;
}
.goods__list_list .goods__buy_button {
  float: right;
}
.goods__list_list .goods__price {
  line-height: 16px;
}

.pagination {
  text-align: right;
}

.pagination__list {
  display: inline-block;
  position: relative;
}

.pagination__item {
  height: 25px;
  width: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  border: 1px solid #808080;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.pagination__link {
  text-decoration: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: #fff;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  color: #808080;
}
.pagination__link:hover {
  background-color: #e1e1e1;
}

.pagination__mark {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  line-height: 26px;
}

.pagination__item_prev {
  position: relative;
}
.pagination__item_prev::after {
  content: url("../img/prev.png");
  position: absolute;
  top: 7%;
  left: 37%;
}

.pagination__item_next {
  position: relative;
}
.pagination__item_next::after {
  content: url("../img/next.png");
  position: absolute;
  top: 7%;
  left: 37%;
}

infoblock {
  clear: both;
}
infoblock:after {
  content: '';
  display: block;
  clear: both;
}

.infoblock__text p {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 20px;
}

.infoblock__header {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #2f2f2f;
}

.first {
  float: left !important;
  width: 47% !important;
  text-align: justify;
  padding: 1%;
  padding-left: 0;
}

.last {
  float: right !important;
  width: 47% !important;
  text-align: justify;
  padding: 1%;
  padding-left: 0;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 220px;
  background: url("../img/footer-bk.png") center center;
}
.footer:after {
  content: "";
  display: block;
  clear: both;
}

.footer__right {
  float: right;
  width: 55%;
  margin-top: 35px;
}
.footer__right::after {
  content: '';
  display: block;
  clear: both;
}

.footer__left {
  float: left;
  width: 45%;
  margin-top: 72px;
  font-size: 0;
}
.footer__left::after {
  content: '';
  display: block;
  clear: both;
}

.socials {
  list-style-type: none;
  font-size: 0;
}
.socials__footer {
  width: 190px;
  float: right;
  margin-bottom: 34px;
}
.socials__footer::after {
  content: '';
  display: block;
  clear: both;
}
.socials__link {
  display: block;
}
.socials__item_footer {
  display: inline-block;
  margin-left: 26px;
}
.socials__item_footer:first-child {
  margin-left: 0;
}

.socials__link_footer-fb {
  background-image: url(../sprites/spriteSocialsFooter.png);
  background-position: -113px 0px;
  width: 43px;
  height: 43px;
}
.socials__link_footer-fb:hover {
  background-image: url(../sprites/spriteSocialsFooter.png);
  background-position: 0px 0px;
  width: 43px;
  height: 43px;
}

.socials__link_footer-vk {
  background-image: url(../sprites/spriteSocialsFooter.png);
  background-position: -565px 0px;
  width: 43px;
  height: 43px;
}
.socials__link_footer-vk:hover {
  background-image: url(../sprites/spriteSocialsFooter.png);
  background-position: -452px 0px;
  width: 43px;
  height: 43px;
}

.socials__link_footer-tw {
  background-image: url(../sprites/spriteSocialsFooter.png);
  background-position: -339px 0px;
  width: 43px;
  height: 43px;
}
.socials__link_footer-tw:hover {
  background-image: url(../sprites/spriteSocialsFooter.png);
  background-position: -226px 0px;
  width: 43px;
  height: 43px;
}

.footer__nav {
  font-size: 0;
  clear: both;
  text-align: right;
}
.footer__nav__link {
  font-size: 14px;
  color: #ffffff;
  line-height: 36px;
}
.footer__nav__link:hover {
  text-decoration: none;
}
.footer__nav__item {
  display: inline-block;
  margin-left: 24px;
}
.footer__nav__item:first-child {
  padding-left: 240px;
  margin-left: 0;
}

.footer__copyright {
  font-size: 12px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid #474747;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "OpenSans-Regular";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f4f4f4;
  min-width: 1255px;
}

.wrapper:after {
  content: "";
  display: block;
  height: 220px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.container::after {
  content: '';
  display: block;
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
