header.header
    .icons-and-contacts
        .container
            .socials.socials__header
                ul.socials_list
                    li.socials__item
                        a(href="").socials__link.socials__link-fb fb
                    li.socials__item
                        a(href="").socials__link.socials__link-vk vk  
                    li.socials__item
                        a(href="").socials__link.socials__link-tw tw
            .contacts
                .contacts__adress
                    |ул. Маяковская 6, офис 17
                .contacts__phone
                    |+7 (921) 123-12-13
    .logo-and-search
        .container
            .logo.logo__header
                img(src="img/logo-header.png", alt="logo").logo_img.logo_img_header
            form(action="").search_form
                input(type="text" placeholder="Что будем искать" ).search_form-input
                input(type="submit" value="Найти" ).search_form-submit
            .menu.menu-header
                ul.menu_list
                    - var menu = ['Карта проезда', 'История заказов', 'Корзина']
                        each item in menu
                            li.menu_list_item
                                a(href="#" class="").menu_list_link= item
    .nav
        .container
            ul.nav__list              
                - var nav = ['Планшеты', 'Мобильные телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Акссесуары', 'Бытовая техника']
                each item in nav
                    li.nav__list_item
                        if item == 'Мобильные телефоны'
                            a(href="#" class="nav__list_link nav__list_link-active")= item
                        else
                            a(href="#" class="nav__list_link")= item
                        
        
                
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                 
