aside.sidebar
        ul.cellphone__type__list
            li.cellphone__type__item.cellphone__type__item-first
                |Флагманы
            li.cellphone__type__item.cellphone__type__item-last
                |Бюджетная линейка
        ul.sidebar__filter__list
            li.sidebar__filter__item
                a(href="").sidebar__filter__item-trigger Наличие в магазинах
                ul.availability__filter__list.sidebar__filter__inner__list
                    li.availability__filter__item
                        span.checkbox
                            input(type="radio" name="radio" id="radio1" class="radio__input")
                            label(for="radio1").radio__input__label
                                |Во всех магазинах
                    li.availability__filter__item            
                            input(type="radio" name="radio" id="radio2" class="radio__input")
                            label(for="radio2").radio__input__label
                                |В ближайшем ко мне магазине
                    
                    
                    
                            
            li.sidebar__filter__item
                a(href="").sidebar__filter__item-trigger Бренды
                ul.sidebar__filter__inner__list
                    li.sidebar__filter__inner__list-item Lenovo
                    li.sidebar__filter__inner__list-item Apple
                    li.sidebar__filter__inner__list-item Samsung
                    li.sidebar__filter__inner__list-item Asus
                    li.sidebar__filter__inner__list-item Motorola
            li.sidebar__filter__item
                a(href="").sidebar__filter__item-trigger Цвет
                ul.sidebar__filter__inner__list
                    li.sidebar__filter__inner__list-item one
                    li.sidebar__filter__inner__list-item two
                    li.sidebar__filter__inner__list-item tree
                    li.sidebar__filter__inner__list-item one
                    li.sidebar__filter__inner__list-item two
                    li.sidebar__filter__inner__list-item tree
                    li.sidebar__filter__inner__list-item one
                    li.sidebar__filter__inner__list-item two
                    li.sidebar__filter__inner__list-item tree
                    li.sidebar__filter__inner__list-item one
                    li.sidebar__filter__inner__list-item two
                    li.sidebar__filter__inner__list-item tree
            li.sidebar__filter__item
                a(href="").sidebar__filter__item-trigger Операционные системы
                ul.sidebar__filter__inner__list
                    li.sidebar__filter__inner__list-item Android
                    li.sidebar__filter__inner__list-item iOS
                    li.sidebar__filter__inner__list-item Windows Mobile
                    li.sidebar__filter__inner__list-item Symbian
                    li.sidebar__filter__inner__list-item Custom
           